<style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 70%;
        margin: 0;
        padding: 50px;
    }
</style>

<div class="container-fluid" id="map"></div>
<script src="../js/createMap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLcbphE65MYIFNgdDIF1WoP23O13zERk4&callback=initMap" async defer></script>

